body {
  font-family: 'Lexend Deca', sans-serif;
}
.list-group-item {
  line-height: 2.5;
}

h1,
h2 {
  text-align: center;
}
.table-header {
  border-bottom: 1px gray solid;
  background-color: white;
  padding: 5px 0;
  font-size: 13px;
  font-weight: bold;

}
.sub-report-text {
  font-size: 12px;
}
.sub-report-row {
  border-bottom: 0.5px grey solid;
}
.sub-report-section-text {
  color: white;
  background-color:	#777777;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 5px;
}

